addict==2.4.0
anyio==3.3.2
argcomplete==1.12.3
argon2-cffi==21.1.0
attrdict==2.0.1
attrs==21.2.0
Babel==2.14.0
backcall
backports.functools-lru-cache
bce-python-sdk==0.9.35
beautifulsoup4
bleach
cachetools==5.5.2
certifi
cffi==1.14.6
charset-normalizer==2.0.6
click==8.1.8
cssselect==1.2.0
cssutils==2.7.1
cycler==0.10.0
Cython==3.0.12
dataclasses
dcor==0.5.3
debugpy==1.5.0
decorator
defusedxml
deprecation==2.1.0
easydict==1.13
einops==0.6.1
entrypoints==0.3
et-xmlfile==1.1.0
fastjsonschema
fire==0.7.0
Flask==2.2.5
flask-babel==3.1.0
flit_core
fonttools==4.38.0
future==1.0.0
fvcore
h5py==3.8.0
hausdorff==0.2.6
idna==3.2
imageio==2.31.2
imgaug==0.4.0
importlib-metadata
importlib-resources
iopath
ipdb
ipykernel
ipython
ipython-genutils==0.2.0
ipywidgets==7.6.5
itsdangerous==2.1.2
jedi
Jinja2
joblib==1.0.1
json5==0.9.6
jsonschema==4.0.1
jupyter-client==7.0.6
jupyter-packaging==0.10.6
jupyter-server==1.11.1
jupyter_core
jupyterlab==3.1.17
jupyterlab-pygments
jupyterlab-server==2.8.2
jupyterlab-widgets==1.0.2
kiwisolver
llvmlite==0.36.0
lmdb==1.6.2
lxml==5.4.0
MarkupSafe
matplotlib==3.4.2
matplotlib-inline
mistune
nbclassic==0.3.2
nbclient
nbconvert==6.2.0
nbformat==5.1.3
nest-asyncio==1.5.1
networkx==2.6.3
nltk==3.8.1
notebook==6.4.6
numba==0.53.1
numpy==1.21.6
olefile
open3d==0.13.0
open3d-python==0.7.0.0
opencv-contrib-python==4.6.0.66
opencv-python==4.6.0.66
opencv-python-headless==4.11.0.86
openpyxl==3.1.3
packaging==21.0
paddleocr==2.7.0.2
pandas==1.3.3
pandocfilters
parso
patsy
pdf2docx==0.5.8
pexpect
pickleshare
Pillow
pkgutil_resolve_name
portalocker
premailer==3.10.0
prometheus-client==0.11.0
prompt-toolkit
protobuf==4.24.4
psutil
ptyprocess
pyclipper==1.3.0.post6
pycparser==2.20
pycryptodome==3.23.0
Pygments
PyMuPDF==1.20.2
pyparsing==2.4.7
pyproject==1.3.1
pyproject-toml==0.0.12
pyrsistent
python-dateutil
PyYAML==5.4.1
pyzmq==22.3.0
rapidfuzz==3.4.0
rarfile==4.2
regex==2024.4.16
requests==2.26.0
requests-unixsocket==0.2.0
scikit-image==0.19.3
scikit-learn==0.24.2
scipy==1.6.3
seaborn
Send2Trash==1.8.0
shapely==2.0.7
six
sniffio==1.2.0
soupsieve
sparse==0.13.0
statsmodels
tabulate
termcolor==1.1.0
terminado==0.12.1
testpath==0.5.0
threadpoolctl==3.0.0
tifffile==2021.11.2
toml==0.10.2
tomlkit==0.7.2
torch==1.8.0+cu111
torchaudio==0.8.0
torchvision==0.9.0+cu111
tornado
tqdm
traitlets==5.9.0
typing-extensions==3.10.0.2
urllib3==1.26.7
visualdl==2.5.3
wcwidth
webencodings==0.5.1
websocket-client==1.2.1
Werkzeug==2.2.3
widgetsnbextension==3.5.1
yacs==0.1.6
zipp
